@model IEnumerable<FatecLibrary.Web.Models.Entities.BookViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <article class="text-center">
        @if (User.Identity.IsAuthenticated)
        {
            <h1 class="display-4">Olá, @User.Identity.Name</h1>
        }
        else
        {
            <h1 class="display-4">Olá, Mundo!</h1>
        }
        <p>Seja Bm-vindo(a), à Livraria da FATEC.</p>
    </article>
    <section>
        <h1 class="display-6">Livros recém adicionados: </h1>
        <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PublicationYear)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Edition)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PublicationYear)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Edition)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>
</main>
